.wrapper {
  position: relative;
}

.cardWrapper {
  display: flex;
  gap: 26px;
  overflow-x: auto;
  scroll-behavior: smooth;
  touch-action: pan-x;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cardWrapper::-webkit-scrollbar {
  display: none;
}

.cardWrapper li {
  flex: 0 0 300px;
}

.cardContainer {
  position: relative;
  width: 300px;
  height: 444px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bgShape {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 320px;
  border-radius: 20px;
  z-index: 0;
}

.bgShapeGreen {
  background: linear-gradient(180deg, #a5d752 0%, #ffffff 100%);
}

.bgShapePurple {
  background: linear-gradient(180deg, #d0c9ff 0%, #ffffff 100%);
}

.bgShapePurple::before,
.bgShapeGreen::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 185px;
  height: 185px;
  background-color: var(--white);
  clip-path: polygon(13% 0, 100% -9%, 19% 100%);
}

.bgShapePurple::after,
.bgShapeGreen::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 250px;
  height: 250px;
  background-color: var(--white);
  clip-path: polygon(84% 100%, 5% 120%, 90% 0);
}

.photoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.photoContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.name {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  font: var(--desktop_caption);
}

.button {
  position: absolute;
  top: 31px;
  width: 64px;
  height: 350px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  background: #e6e2ff33;
  backdrop-filter: blur(4px);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

@media (max-width: 1023px) {
  .button {
    display: none;
  }

  .cardWrapper {
    gap: 20px;
  }

  .cardWrapper li {
    flex: 0 0 270px;
  }

  .cardContainer {
    width: 270px;
    height: 414px;
  }

  .bgShape {
    top: 18px;
    height: 290px;
  }

  .bgShapePurple::before,
  .bgShapeGreen::before {
    width: 175px;
    height: 185px;
  }

  .bgShapePurple::after,
  .bgShapeGreen::after {
    width: 218px;
    height: 200px;
  }

  .photoContainer {
    height: 350px;
  }

  .name {
    bottom: 15px;
  }
}

@media (max-width: 833px) {
  .cardContainer {
    width: 160px;
    height: 246px;
  }

  .cardWrapper li {
    flex: 0 0 160px;
  }

  .bgShape {
    top: 18px;
    height: 135px;
  }

  .bgShapePurple::before,
  .bgShapeGreen::before {
    width: 100px;
    height: 100px;
  }

  .photoContainer {
    height: 200px;
  }

  .name {
    bottom: 10px;
    font: var(--mobile_caption);
  }
}
