/* variant2.module.css */
.content {
  display: grid;
  grid-template-columns: 407px 1fr;
  gap: var(--spacing-6);
  align-items: start;
  position: relative;
}

.imageLeft {
  margin-top: 88px;
  width: auto;
  height: auto;
  max-width: 400px;
  object-fit: contain;
}

.textContent {
  font: 500 24px/1.4 var(--button-font-family);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.textContent p {
  margin: 0;
  line-height: 1.5;
}

.accentedText {
  display: block;
  overflow: visible;
  padding: var(--spacing-4) 0;
  position: relative;
}

.accentedText::before {
  position: absolute;
  top: -12px;
  left: -407px; 
  content: "";
  display: block;
  width: calc(100% + 407px);
  height: calc(100% + 24px);
  background-color: rgba(230, 226, 255, 0.5);
  border-radius: 0 8px 8px 0;
  z-index: -1;
  pointer-events: none;
}

.accentedText p {
  margin: 0;
  line-height: 1.5;
}


.rightImageWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}


.textBeforeImage p {
  margin: 0;
  line-height: 1.5;
}


.imageFloatWrapper {
  position: relative;
  min-height: 280px; 
}


.imageRight {
  float: right;
  width: auto;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  margin: 0 0 0 var(--spacing-6);
  shape-outside: margin-box;
  transform: translateY(calc(-100% + 290px)) translateX(80px);
}

.textAfterImage {
  display: block;
}

.textAfterImage p {
  margin: 0;
  line-height: 1.5;
}

.imageFloatWrapper::after {
  content: "";
  display: table;
  clear: both;
}